@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-light);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus .modal-close-icon, .modal-close:hover .modal-close-icon {
  fill: var(--main-color-active);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
  margin-top: 10px;
}

.modal-input {
  display: flex;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: var(--main-color-active);
}

.modal-feedback {
  padding-top: 12px;
  padding-left: 16px;
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  width: 448px;
  height: 120px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-feedback:hover, .modal-feedback:focus {
  border-color: var(--main-color-active);
}
.modal-feedback::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-feedback:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--secondary-dark);
  margin-bottom: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon, .modal-input:hover + .modal-input-icon {
  fill: var(--main-color-active);
}

.modal-check-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-dark);
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 5px;
  display: flex;
  align-items: center;
  fill: transparent;
}
.modal-check:checked + .modal-check-text span {
  background-color: var(--main-color-active);
  border-color: transparent;
  fill: var(--main-light);
}
.modal-check:focus + .modal-check-text span {
  border-color: var(--main-color-active);
}

.rules-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--main-color-active);
}

.modal-sent {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-light);
  padding: 10px 52px;
  margin-top: 30px;
  background-color: var(--main-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-sent:hover, .modal-sent:focus {
  background-color: #188CE8;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.pre__logo {
  color: var(--main-color-active);
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-font: "Roboto", sans-serif;
  /* color */
  --main-dark: #212121;
  --main-light: #fff;
  --main-color-active: #2196F3;
  --secondary-dark: #757575;
  --main-background: #2F303A;
  --secondary-light: #F5F4FA;
}

.main-tittle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  color: #000000;
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation a {
  color: var(--main-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: flex;
  gap: 50px;
  position: relative;
}
.menu a:hover, .menu a:focus {
  color: var(--main-color-active);
}
.menu .current {
  position: relative;
  color: var(--main-color-active);
}
.menu .current::after {
  position: absolute;
  top: 48px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-color-active);
}

.contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: baseline;
}
.contacts a {
  color: var(--secondary-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover, .contacts a:focus {
  color: var(--main-color-active);
}

.contacts__icon {
  fill: var(--secondary-dark);
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon:hover, .contacts__icon:focus {
  fill: var(--main-color-active);
}

/* Головна сторінка */
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-light);
  text-align: center;
  text-transform: uppercase;
}

.button-action {
  margin-top: 30px;
  padding: 10px 32px;
  background-color: var(--main-color-active);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-action:hover, .button-action:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-dark);
  margin-bottom: 10px;
}
.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-dark);
}

.features__list {
  display: flex;
  gap: 30px;
}

.feature__item {
  width: 270px;
}

.feature__box {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.actions__list {
  display: flex;
  gap: 30px;
}

.action__wrapper {
  position: relative;
  z-index: -1;
}
.action__wrapper > .action__dscr {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
  background-color: rgba(47, 48, 58, 0.8);
  background-repeat: no-repeat;
}

.team {
  background-color: var(--secondary-light);
}

.team__cards {
  display: flex;
  gap: 30px;
}

.team__member {
  width: 270px;
  background-color: var(--main-light);
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-card {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
}

.dscr-card {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-dark);
  margin-bottom: 16px;
}

.teams-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover, .team-link:focus {
  background-color: var(--main-color-active);
}

.teams-icons {
  width: 44px;
  height: 44px;
}

.team-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover .team-icon, .team-link:focus .team-icon {
  fill: var(--main-light);
}

/* OUR CLIENTS */
.clients {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-color-active);
  border-radius: 4px;
  color: var(--main-color-active);
}

.clients__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Низ сторінки */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-light);
}

address {
  font-style: normal;
}

.down-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.down-text a {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.down-text a:hover, .down-text a:focus {
  color: var(--main-color-active);
}
.down-text li:not(:last-child) {
  margin-bottom: 9px;
}

.town a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-light);
}

.down {
  display: flex;
  align-items: baseline;
}

.joining {
  margin-left: 70px;
  margin-right: auto;
}

.join {
  color: var(--main-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--main-color-active);
  border-radius: 50%;
}

.footer-link:hover .footer-icon,
.footer-link:focus .footer-icon {
  fill: var(--main-light);
}

.footer-icons {
  width: 44px;
  height: 44px;
}

.footer-icon {
  fill: var(--main-light);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folowing {
  display: flex;
  justify-content: flex-end;
  margin-left: 93px;
}

.folowing-label {
  color: var(--main-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.folowing-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
}
.folowing-input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.folowing-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.folowing-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.folowing-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  height: 50px;
  width: 200px;
  border-color: transparent;
  outline: transparent;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-light);
}

.folowing-icon {
  fill: var(--main-light);
  width: 24px;
  height: 24px;
}

.current {
  color: var(--main-color-active);
}

.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
}

.button-filter {
  cursor: pointer;
  background-color: var(--secondary-light);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover, .button-filter:focus {
  background-color: var(--main-color-active);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--main-light);
  padding: 6px 22px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects h3 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-text {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-dark);
}

.project-dscr {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.project-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  display: inline-block;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-light);
}
.project-link:hover .overlay-text, .project-link:focus .overlay-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */