/* Головна сторінка */

.hero {
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;
}

.slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-light);
    text-align: center;
    text-transform: uppercase
}

.button-action {
    margin-top: 30px;
    padding: 10px 32px;
    background-color: var(--main-color-active);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}  
}

